html {
  font-size: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
dd,
dt,
dl {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Rubik", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
button,
a {
  display: block;
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.top {
  background: #632ce2;
  width: 100%;
  padding: 1rem;
}

.content {
  background: url("./assets/img/lousa.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 1000px;
  max-height: 100%;
  padding-top: 80px;
  padding-right: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 12px;
}

.criar-nota {
  display: block;
  padding: .5rem;
  background: #f8e910;
  max-width: 200px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  color: #4e4e4e;
  font-weight: 600;
}

.stick {
  width: 200px;
  min-height: 200px;
  background: #dbdada;
  position: absolute;
}

.top-stick {
  max-width: 100%;
  height: 45px;
  background: #8080eb;
  padding: .5rem;
  cursor: move;
}

.delete {
  background: url("./assets/img/delete.svg");
  width: 30px;
  height: 35px;
  background-size: 90%;
  background-repeat: no-repeat;
  margin-left: auto;
  cursor: pointer;
}

.divText {
  padding: 1rem;
}

.divText:focus {
  outline: none;
}
