body {
    background: rgb(66, 127, 182);
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.container {
    background: #25496A;
    padding: 1.3rem 2.5rem;
    color: white;
    border-radius: 10px;
    h2 {
        font-size: 1.5rem;
        text-align: center;
        color: white;
        margin: 1rem 0;
    }
}


.form-box {
    position: relative;
    margin: 1.3rem 0 2.5rem;
}

.form-box input {
background: transparent;
border: 0;
border-bottom: 2px solid white;
display: block;
width: 100%;
padding: 1rem 0;
color: gray;
font-size: 1rem;

    &:focus{
    outline: none;
        & + label span {
            transform: translateY(-30px);
        }
    }
    &:valid {
        outline: none;
            & + label span {
                transform: translateY(-30px);
            }
        }

}

.form-box label {
    position: absolute;
    top: 25px;
   span {
       display: inline-block;
       transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
   }
}

.btn {
    border: 0;
    border-radius: 10px;
    background: lightblue;
    color: black;
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    width: 100%;
    &:focus {
        outline: 0;
    }
}

